.contactform{
    width: 100%;
    margin-top: 2rem;
}

.contactform form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: white;
    color: black;
    width: 50%;
    margin: 0px auto;
    border-radius: 30px;
    padding: 10px 0px;

}

.contactform button{
    color: white;
    background-color: rgba(94, 139, 236, 0.993);
    border: none;
    border-radius: 20px;
    width: 15rem;
    height: 2rem;
    font-size: 20px;
}

.contactform div{
    display: flex;
    flex-direction: column;
    width: 80%;
}

.contactform input{
    height: 2rem;
    border-radius: 7px;
}

.contactform textarea{
    height: 10rem;
    border-radius: 10px
}