.footer{
    color: black;
    background-color: white;
    width: 100%;
    text-align: center;
    height: 2rem;
    padding-top: 1rem;
}

@media (max-width: 700px) {
    .footer{
        font-size: 15px;
    }
}