.navbar{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    background-color: black;
    color: white;
    border-bottom: 2px dotted rgba(255, 255, 255, 0.651);
    font-size: 20px;
    padding-right: 1rem;
}