.navbar{
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    background-color: black;
    color: white;
    border-bottom: 2px solid rgba(255, 255, 255, 0.651);
    font-size: 20px;
    padding:1rem;
    width: 98%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

.active {
  border-bottom: 5px solid #f6f6f6;
  border-radius: 3px;
}