.projectdetail{
    width: 70%;
    height: 30rem;
    margin: 2rem auto;
    background-color:rgb(237, 232, 232);
    color: black;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.projectdetail h3{
    margin: 0px;
    margin-left: 0.5rem;
}

.projectdetail img{
    width: 100%;
    object-fit:cover;
    height: 30vh;
    box-shadow:rgb(76, 168, 225);
    position: relative;
}

.projectdetail a{
    display: block;
    width: 30%;
    border-radius: 30px;
    text-decoration:none;
    transform: translate(0.5s ease);
    text-align: center;
    padding: 1rem;
    background-color:rgb(97, 195, 248);
    color: black;
    margin: 4rem auto;
    margin-bottom: 0.5rem;
}

.projectdetail p {
    display: block;
    padding: 0rem 0.5rem;
    text-align: justify;
}

.projectdetail:hover {
    cursor: pointer;
}


@media (max-width: 700px) {
    .projectdetail {
        width: 95%;
        font-size: 15px;
        height: fit-content;
    }
}