button{
    border:2px white solid;
    border-radius:20px;
    background-color: black;
    color: white;
    padding: 0.5rem;
    font-size: 17px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.category{
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.languages{
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
}

.languages div{
    display: flex;
    color: black;
    align-items: center;
    gap:0.5rem;
    background-color: rgba(252, 252, 252, 0.811);
    border-radius: 30px;
    padding: 0.7rem;
}

.active {
    background-color: white;
    color: black;
}

.skill{
    width: 40px;
    height: 40px; 
}

@media (max-width: 700px) {
    .category{
        gap: 0.5rem;
    }
    .languages div{
        font-size: 15px;
    }
    button {
        font-size: 10px;
    }

    .skill{
    width: 20px;
    height: 20px; 
}
}