.all {
    padding:0px 50px;
}


.introduction {
    display: flex;
    gap: 5rem;
    align-items: center;
    font-size: 25px;
    text-align: justify;
    padding: 0rem 1rem;
}

.introduction a{
    text-decoration: none;
    color: white;
    border: 2px white solid;
    padding: 0.7rem;
    border-radius: 30px;
    transform:translate(ease 0.3s);
}

.introduction a:hover{
    background-color: white;
    color: black;
}

.introduction img{
    width: 50%;
    height: 95vh;
    border-radius: 50%;
    object-fit:contain;
}

.introduction h1{
    font-size: 60px;
}

.icon{
    width:25px;
    height:25px; 
}


.links{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 20px;
    text-align: center;
}

.links a {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}


.about, .projects{
    padding: 0rem 2rem;
}


section{
    padding-top: 35px;
}

#Home {
    padding-top: 0px;
}

.about h3{
    font-size: 30px;
}

.about p{
    font-size: 30px;
    text-align: center;
    width: 70%;
    margin: 0px auto;
}

.skills {
    width: 50%;
    font-size: 50px;
    text-align: justify;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}


.projectsfirst{
    margin: 0px auto;
    justify-content: center;
}


.education{
    position: relative;
    margin: 0px auto;
    width: 70%;
}

/* all */

.about, .contact{
    margin: 2rem 0rem;
}

h2{
    font-size: 30px;
}


@media (max-width: 800px) {
    .introduction {
        flex-direction: column-reverse;
        gap: 1rem;
    }

    .introduction img{
        height: 30vh;
    }
    .introduction h1{
        font-size: 35px;
        text-align: center;
    }
    .introduction p{
        font-size: 20px;
        text-align: center;
    }
    
    .links {
        font-size: 15px;
        justify-content: center;
    }

    .about h3{
        font-size: 20px;
    }

    .projects, .about {
        padding: 0rem;
    }
    .icon{
        width:20px;
        height: 20px; 
    }
}

